@import "tailwindcss";

@font-face {
    font-family: Borel;
    src: url(/fonts/borel.ttf) format("truetype");
}

@font-face {
    font-family: Ropa;
    src: url(/fonts/ropa.ttf) format("truetype");
}

@theme {
    --font-borel: "Borel", sans-serif;
    --font-ropa: "Ropa", sans-serif;

    --animate-fade-in-bottom: fade-in-bottom 1s ease-in-out;
    --animate-fade-in-left: fade-in-left .5s ease-in-out;
    --animate-fade-out-left: fade-out-left .5s ease-in-out;

    @keyframes fade-in-bottom {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fade-in-left {
        0% {
            opacity: 0;
            transform: translateX(-20px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes fade-out-left {
        0% {
            opacity: 1;
            transform: translateX(0);
        }

        100% {
            opacity: 0;
            transform: translateX(-20px);
        }
    }
}

@utility animation-delay-* {
    animation-delay: --value(integer)ms;
}

.apply-fill-mode-backwards {
    animation-fill-mode: backwards;
}

.apply-fill-mode-forwards {
    animation-fill-mode: forwards;
}